<div class="container">
    <form class="form-horizontal" role="form" name="companyDetailForm" novalidate>
        <div class="col-sm-12">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="text-left-imp header-color control-label text-nowrap col-sm-12">
                        <h4>Company Information</h4>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 required-field control-label" for="companyName">Company Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="companyName" placeholder="Enter CompanyName" name="companyName"
                        minlength="1" maxlength="70" autocomplete="off" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 required-field control-label" for="street1">Street</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="street1" placeholder="Enter Street" name="street1"
                        minlength="1" maxlength="70" autocomplete="off" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3" for="hiddelflow">&nbsp;</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="Enter Street"
                        minlength="1" maxlength="100" autocomplete="off" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 required-field control-label" for="city">City</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="city" placeholder="Enter City" name="city"
                        minlength="1" maxlength="40" autocomplete="off" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 required-field control-label" for="state">State</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="state" placeholder="Enter City" name="state"
                        minlength="1" maxlength="40" autocomplete="off" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 required-field control-label" for="zip">Zip</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="zip" placeholder="Enter Zip" name="zip" minlength="1" maxlength="10" autocomplete="off" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 required-field control-label" for="country">Country</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="country" placeholder="Enter Country" name="country" minlength="1" maxlength="70" autocomplete="off" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="text-left-imp header-color control-label text-nowrap col-sm-12">
                        <h4>Contact Information</h4>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 required-field control-label" for="tel-input">Phone Number</label>
                    <div class="col-sm-9">
                        <input type="tel" class="form-control" id="tel-input" placeholder="1-(555)-555-5555" name="tel-input" autocomplete="off" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 required-field control-label" for="fax-input">Fax</label>
                    <div class="col-sm-9">
                        <input type="tel" class="form-control" id="fax-input" placeholder="1-(555)-555-5555" name="fax-input" autocomplete="off" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 required-field control-label" for="contactName">Contact Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="contactName" placeholder="Enter CompanyName" name="contactName" minlength="1" maxlength="100" autocomplete="off" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 required-field control-label" for="email">Email</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" autocomplete="off" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 required-field control-label text-nowrap text-left-imp" for="logo">Use Company Logo</label>
                    <div class="col-sm-8 checkbox">
                        <input type="checkbox" id="logo" placeholder="Enter Email" name="logo">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="thumbnail img-app">
                            <!-- <img src="/w3images/lights.jpg" alt="Lights" style=""> -->
                            <i class="fa fa-picture-o fa-5" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>               
                <div class="form-group">
                    <div class="col-md-6">
                        <button class="btn danger">Load File</button>
                    </div>
                </div>
                 <div class="form-group">
                   Logo Size should be 225 X 100 Pixcels
                </div>
            </div>
        </div>
    </form>
</div>
