.text-left-imp {
    text-align: left;
}

.header-color {
    color: #f60;
}

.img-app {
    width: 225px;
    height: 110px;
}
.fa-5 {
    font-size: 7em;
    margin-left: 0.5em;
}
.required-field:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 3px;
}
.thumbnail{
	margin-bottom: 0;
}
.danger{
	background-color: #f60;
}